<div class="container">

  <p class="sketch-title"><%= @sketch.title %></p>

  <small><%= @sketch.description %></small>

  <div class="box-code">
    <%= simple_format @sketch.code, class: "code" %>
  </div>

</div>