<div class="center-div">
<h3>P5.js Canvas</h3>
<p id="canvas-size"></p>

  <div id="p5canvas">
  </div>
</div>

<%# Not needed since file is already included in pipeline %>
<%# TO-DO: Tweaks/gem for page-specific javascript %>

<%# javascript_include_tag "p5canvas" %>