ul {
    list-style-type: none;
}

label {
    display: block;
    margin: 5px;
}

input, textarea {
    border-radius: 5px;
}

.container {
    margin: auto;
    width: 75%;
}

.box-code {
    white-space: pre-wrap;
    width: 50%;
    border: 2px solid lightgray;
    padding: 1em;
    font-family: 'Monaco','Source Code Pro','Consolas','monospace';
    font-size: 12pt;
}

p.code {
    padding: 0;
    font-size: 12pt;
}

.rounded-box {
    margin-bottom: 1.5em;
    padding: 1em;
    border: 2px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
}

.rounded-box.inline {
    display: inline-block;
}

.form-container {
    margin: auto;
}

.sketch-title {
    font-size: 1.5em;
}

.sketch-form {
    display: inline-block;
}

.sketch-form ul {
    text-align: left;
}

.sketch-form li {
    margin: 10px;
}

#sketch_code {
    width: 50em;
    height: 50em;
}